//****************//
//    imports  //
//**************//
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,600&display=swap');

//****************//
//    Variables  //
//**************//
$color: rgb(25, 31, 58);
$font: 'Roboto', sans-serif;
$font-titi: 'Titillium Web', sans-serif;
$font-muli: 'Muli', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-lora: 'Lora', sans-serif;
$font-size: 14px;

//****************//
//    Mixins  //
//**************//
@mixin gradient-circle($mode, $property1,$property2,$property3){
    background: -webkit-radial-gradient($mode, $property1,$property2,$property3);
    background: -radial-gradient($mode, $property1,$property2,$property3);
    background: -moz-radial-gradient($mode, $property1,$property2,$property3);
    background: radial-gradient($mode, $property1,$property2,$property3);
} 

@mixin box-shadow($property){
    -moz-box-shadow:    $property;
   -webkit-box-shadow: $property;
   box-shadow:         $property;
}
//****************//
//    Extends  //
//**************//
%position-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

%flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}